
input[name="vista"] {
  display: none;
}

.vista-horizontal,
.vista-vertical {
  display: none;
}

#vista-horizontal:checked ~ .vista-horizontal {
  display: block;
}

#vista-horizontal:checked ~ .vista-vertical {
  display: none;
}

#vista-vertical:checked ~ .vista-horizontal {
  display: none;
}

#vista-vertical:checked ~ .vista-vertical {
  display: block;
}

.iconos label {
  cursor: pointer;
  color: gray;
  font-size: 1.4rem; 
  transition: color 0.3s ease;
}

#vista-horizontal:checked ~ .iconos label[for="vista-horizontal"],
#vista-vertical:checked ~ .iconos label[for="vista-vertical"] {
  color: #0d6efd; 
}

.iconos label:hover {
  color: #198754; 
}
